<!DOCTYPE html>
<html>
<head>
<style>
body {
background-color: #EDB69E;
}
<!--Title at top of page-->
h1 {
padding: 15px;
color: black;
text-align: center;
font-family: Verdana;
font-size: 32px;
}
<!--Subheading-->
p {
padding: 5px 25px;
color: black;
text-align: left;
font-family: Verdana;
font-size: 28px;
font-weight: bold;
}
<!--Regular paragraphs-->
p2 {
padding: 5px 35px;
text-align: right;
font-family: Verdana;
font-size: 20px;
}
<!--Images (centered)-->
img {
padding: 30px;
display: block;
margin-left: auto;
margin-right: auto;
}
<!--All for the Navigation Bar-->
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #977465;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  font-size: 18px;
  font-family: Verdana;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #41322C;
}
<!--For the columns-->
.row {
  display: -webkit-flex;
  display: flex;
}
.column {
  padding: 25px;
}
.column.side {
flex: 1;
padding: 15px 35px;
text-align: left;
font-family: Verdana;
font-size: 20px;
}
<!--For the PDFs-->
.container {
padding: 30px;
float: top;
}
</style>
</head>
</html>
