<!DOCTYPE html>
<html>
<head>
<style>
  /*Background color*/
body {
background-color: #FFFFFF;
}
  /*Heading at top of page: centered*/
h1 {
padding: 15px;
color: black;
text-align: center;
font-family: Verdana;
font-size: 32px;
}
  /*This is my subheading smaller than title, but bigger than regular paragraphs*/
p {
padding: 5px 25px;
color: black;
text-align: left;
font-family: Verdana;
font-size: 28px;
font-weight: bold;
}
  /*These are my regular paragraphs*/
p2 {
padding: 5px 35px;
text-align: left;
font-family: Verdana;
font-size: 20px;
}
  /*These are my images and they are centered*/
img {
padding: 30px;
display: block;
margin-left: auto;
margin-right: auto;
}
  /*The ul, li, li a, and li a:hover, are all used for my navigation bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:  #e8e8e8;
}
li {
  float: left;
}
li a {
  display: block;
  color: black;
  text-align: center;
  font-size: 18px;
  font-family: Verdana;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #bababa;
}
  /*The .row, .column, and .column.side, are for my column which I used of all three pages*/
.row {
  display: -webkit-flex;
  display: flex;
}
.column {
  padding: 25px;
}
.column.side {
flex: 1;
padding: 15px 35px;
text-align: left;
font-family: Verdana;
font-size: 20px;
}
  /*This is used for the embedded PDFs*/
.container {
padding: 30px;
float: top;
}
 /* gallery */
div.gallery {
  margin: 15px;
  border: 3px solid #d1d1d1;
  float: left;
  width: 400px;
  height: 600px;
  font-family: verdana;
  color: black;
  background-color: #e8e8e8;
}

div.gallery:hover {
  border: 3px solid #bababa;
}

div.gallery img {
  width: 300px;
  height: 300px;
}

div.desc {
  padding: 15px;
  text-align: center;
}	
 
</style>
</head>
</html>
